@font-face {
	font-family: HelveticaNeueCyr-light;
	src: url(../fonts/helveticaneuecyr-light.ttf);
}
@font-face {
	font-family: HelveticaNeueCyr-Thin;
	src: url(../fonts/helveticaneuecyr-thin.otf);
}
@font-face {
	font-family: HelveticaNeueCyr-roman;
	src: url(../fonts/helveticaneuecyr-roman.otf);
}

/*HEADER*/

header {
	padding-left: 15px;
	height: 155px;
}
menu {
	overflow: hidden;
	padding-left: 0;
}

menu ul {
	display: flex;
    justify-content: space-between;
    padding-left: 0;
}

menu a {
	list-style: none;
	font-size: 18px;
	font-family: HelveticaNeueCyr-light;
	color: rgba(66, 65, 65, 0.702);
	float: left;


}
menu a:hover, .active {
	color: #95c002;
	text-decoration: none;
}
header form #search {
	width: 100%;
	height: 45px;
	padding: 0 52px 1px 15px;
	font: 18px HelveticaNeueCyr-light;
	display: inline-block;
	position: relative;
}
header form #btn {
	width: 50px;
	height: 45px;
	cursor: pointer;
	background: url('../images/search.png');
	background-repeat: no-repeat;
	background-position: center; 
	position: absolute;
	bottom: 0;
	right:15px;
	border: none;
}
.akk img {
	padding: 6px 0 0 25px;
}

#logo {
	padding-top: 18px;
}

.contacts {
	padding-top: 10px;
}

.contacts #number{
	font-family: HelveticaNeueCyr-Thin;
	font-size: 30px;
	color: rgb(66, 65, 65);
	text-align: left;
}
.contacts #work{
	font-family: HelveticaNeueCyr-light;
	font-size: 17px;
	color: rgb(66, 65, 65);

	text-align: left;
}



/*MENU*/
.menu {
	width:100%;
	height: 65px;
	background-color: #ef3b3a;

	padding: 0;
}
.menucontent {
	max-width: 1170px;
	margin: 0 auto;
}
.main-menu {
	max-width: 1170px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	position: relative;

}
.main-menu li > a {
    display: block;
	font-family: 'HelveticaNeueCyr-roman';
	font-size: 24px;
	color:#fff;
	height: 65px;
	line-height: 65px;
	padding-right: 50px;
}

.main-menu > li:last-child a {
	padding-right: 0;
}

.main-menu a:hover {
	text-decoration: none;
	color:#fff;
}
.main-menu > li {
	position: relative;
	float: left;
	list-style: none;
	display: block;
	padding-left: 40px;
}
.main-menu > li:first-child {
	list-style: none;
	margin-left: 30px;
	padding-left: 0;
}
.main-menu > li:last-child {
	margin-right: 15px;
}
.main-menu .sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ef3b3a;
    position: absolute;
    display: none;
    z-index: 100;
}
.main-menu > li:hover .sub-menu {
	display: block;
}

.sub-menu li >a{
	font-family: 'HelveticaNeueCyr-roman';
	font-size: 22px;
	display: block;
	line-height: 46px;
	border-top: 1px solid #f26261;
	padding: 0;
	margin: 0;
	height: 46px;
	padding-left: 15px;
	padding-right: 10px;

}
.sub-menu li >a:hover {
	background: #f26261;
}
.main-menu > li:first-child::before {
	content: "";
	background: none;
}

.main-menu > li::before {
	content: "";
	background: url(../images/circle.png) no-repeat left top;
	position: absolute;
	height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    top: 28px;
}


/*баннер на слайдере*/

.slider {
	position: relative;
	height: 460px;
}
.slider .carousel, .slider .carousel-inner, .slider #myCarousel, .item {
	height: 460px;
}
.slider .item img {
	height: 460px;
}

#banner {
	width: 600px;
	height: 230px;
	background-color: rgba(255, 255, 255, 0.8);
  	/*opacity: 0.8;*/
/*  	position: absolute;
  	left: 370px;
  	top: 340px;
  	z-index: 5;*/
  	margin: 12px;
  }
  #bannerOutline {
  	width: 630px;
  	height: 260px;
  	border: 4px solid ;
  	border-color: rgba(255,255,255, 0.8);
  	/*opacity: 0.8;*/
  	/*position: absolute;*/
  	margin: 0 auto;
  	/*top: 310px;*/
  	z-index: 5;

  }
#bannerBtn {
	width: 242px;
	height: 74px;
	background: #95c002;
	font-family: 'HelveticaNeueCyr-roman';
	font-size: 30px;
	z-index: 20;
	color: #fff;
	/*left: 554px;*/
  	/*top: 533px;*/
  	opacity: 1;
  	margin: 0 auto;
	padding:0;
	border: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: block;


}
#sliderBan {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 310px;
	z-index: 2;


}
#btncont {
	position: absolute;
	top: 533px;
	width: 100%;
	overflow: hidden;
	z-index: 100;
}

#banText {
	color: #424141;
	width: 493px;
	margin: 0 auto;
	text-align: center;
	
}


#a  {
	font-family: 'HelveticaNeueCyr-roman';
	font-size: 50px;
	text-transform: uppercase;
	display: inline-block;
	padding-top: 20px;
/*	font-weight: 600;*/
}
#b {
	font-family: 'HelveticaNeueCyr-roman';
	font-size: 30px;
	display: inline-block;
	padding-top: 7px;
}
#c {
	font-family: 'HelveticaNeueCyr-light';
	font-size: 24px;
	font-style: italic;
	display: inline-block;
	padding-top: 20px;
}










